.center { 
    max-width: 55vw; 
    margin: auto;
    text-align: center;
}

.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.container .content {
    position: relative;
    max-width: 800px;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 50vw;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1 !important;
    transition: 0.5s;
    font-size: medium;
    background-color: #CFB495;
}

button {
    max-width: 10vh;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #F5CDAA;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
